header {
  width: 100vw;
  height: 75px;
  background: lightblue;
  box-sizing: border-box;
  text-align: left;
  
}

.body {
  width: 100vw;
  height: calc(100vh - 75px);
  /* background-color: black; */

}